<div class="outer " >
  <div class="top">
    <div class="container inner-wrapper">
          <div class="mar-20-b"><h5>TestCase Name</h5>{{task.name}}</div>
          <div class="mar-20-b "><h5>TestCase Description</h5>{{task.description}}</div>
          <div class=" mar-20-b"><h5>Precondition</h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
          <div class="mar-20-b "><h5>priority</h5>Lorem igdfg thau .</div>
          <hr>
          <div class="col-md-8 null-pad brdiv">
                <span class="">STEPS</span>
                <li ng-repeat="step in steps[2]" class="pad-20-t cust-pie-legend" ng-click="select($index)" ng-class="{'li-br':selected==$index}">
                  <span class="block">{{$index+1}}.{{step['ques']}}</span>
                  <span class="text-muted block check-text">{{step['expected']}}</span>
                </li>
          </div>
          <div  class="col-md-4 null-pad pad-20-rl">
              <span class="heading">Additional Information</span>
              <span>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris reprehenderit in voluptate .
              </span>
          </div>
          <div class="col-md-12 text-center pad-20-tb">
              <a type="button" class="btn btn-custom-dark" ui-sref="home.asgnTask.execute">EXECUTE</a>
              <button type="button" class="btn btn-custom-dark" ng-click="helpers.modalOpen('partials/pickTask.tpl.html','pickTskInstanceCtrl','700',pickTskResolver)">PICK TASK</button>
          </div>
    </div>
  </div>
</div>
