<div class="modal-header">
  <i class="fa fa-times pull-right" ng-click="cancel()"></i>
  <h3 class="modal-title">PICK TASK</h3>
</div>
<div class="modal-body">
  <div class="modal-content-wrapper">
    <div class="col-md-6">
      <div class="form-group has-feedback">
        <label for="">Test Case Details</label>
        <span class="block mar-15-b">{{taskItem.description}}</span>
        <label for="">Environment: </label>
        <span class="">{{taskItem.environment}}</span>
      </div>
    </div>
    <div class="col-md-6">
      <label for="">Choose Browsers</label>
      <div class="border-1px " ng-class="borderRed">
        <span class="browser-icon-wrapper2">
          <span class="browser-icon muted" ng-repeat="browser in taskItem.browsers" ng-class="{'browser-selected':browser==browserSelected}" ng-click="tSelect(browser);borderRemove();">
            <i class="fa fa-{{browser.platform}} platform-icon"></i>
            <span class='version'>{{browser['browser-ver']}}</span>
            <i  class="fa fa-{{browser.name}}">&nbsp;</i>
          </span>
        </span>
      </div>
      <span class="required-color pull-right" ng-show="borderRed">*Select a browser</span>
    </div>
    <div class="col-md-12 text-center mar-right-20 mar-top-20">
      <a class="btn btn-custom-light" type="button" ng-click="cancel()">CANCEL</a>
      <a class="btn btn-custom-dark" type="button" ng-click="proceed()">PICK TASK</a>
    </div>
  </div>
</div>
